<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Azure, Microsoft Azure, Azure Storage, Azure network latency, Azure Blob Upload Speed" />
    <meta name="description" content="Test network latencies and speed to Azure data centers from different countries." />
    <title>@ViewBag.Title - Azure Speed Test</title>
    <style type="text/css">
        #Button1 {
            height: 80px;
            width: 254px;
        }
    </style>
    @Styles.Render("~/Content/css")

</head>
<body>

    <div>
        @RenderBody()
    
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/3rd")
    @Scripts.Render("~/bundles/sb-admin-2")
    @Scripts.Render("~/bundles/jazure")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", false)

</body>
</html>
